@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0;
    padding:0;
}

.navbar{
    display:flex;
    align-items: center;
    justify-content: center;
    position:sticky;
    top:0;
    cursor: pointer;
    

}
.nav-list{
    
    width:70%;
    display: flex;
    align-items: center;
    
}

.nav-list li{
    list-style: none;
    padding:26px 30px;
    
}

.logo{
    width:20%;
    display:flex;
    justify-content: center;
    align-items: center;
    

}
.logo img{
    width:60px;
    height:50px;
    border:3px solid rgb(110, 108, 108);
    border-radius: 50px;
    
}

.nav-list li a {
    text-decoration: none;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;

    }
    .nav-list li a:hover {
        text-decoration: none;
        color:grey;
        }

.rightNav{

    width:30%;
    text-align:right;
    padding:0 15px;
}
#search{
    padding:5px;
    font-size: 17px;
    border:2px solid grey;
    border-radius: 9px;

}
.background{
    background: rgba(0,0,0,0.7)url('istockphoto-937427130-612x612.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.box-main{
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width:50%;
    margin:auto;
    height:95%;
}
.firstSection{
    height: 100vh;
}
.firstHalf{
    width: 80%;
    display:flex;
    flex-direction: column;
    justify-content: center;


}
.secondHalf{

    width:30%;
    

}
.secondHalf img{
    
    height:150px;
    border:5px solid white;
    border-radius: 90%;
    
    display: block;
    margin:0px 8px;
    
}

.text-big{
    font-size: 31px;
    

}
.text-small{
    font-size: 16px;

}
.btn{
    padding:8px 20px;
    margin:7px 3px;
    border:2px solid white;
    border-radius:8px;
    font-size:15px;
    cursor:pointer;
    background: none;
    color:white;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn-sm{
    padding:6x 10px;
    vertical-align: middle;
    font-size:11px;
    
}
.section{
    
    display:flex;
    align-items: center;
    justify-content: center;
    max-width:80%;
    margin:auto;
    font-family: 'Ubuntu', sans-serif;
}

.section-left{
    height:300px;
    display:flex;
    align-items: center;
    justify-content: center;
    max-width:80%;
    margin:auto;
    flex-direction: row-reverse;
    
    
    
}
.paras{
    padding: 20px 20px;
    
}
.thumbnail img{
    
    height: 140px;
    margin-top: 20px;
    border:2px solid white;
    border-radius: 20%;
}
.thumbnail-left img{
   
    
    height: 140px;
    margin-top: 30px;
    border:2px solid white;
    border-radius: 15%;
}
.sectiontag{
    padding:15px 0px;
    margin-top:5px;
}
.sectionSubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.sectionSubTag text-small{
    margin-top: 10px;

}

.contact{
    background-color: rgb(245, 236, 236);
    height:90vh;
    
}
.text-center{
    text-align:center;
    padding:20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    
}
.form{
    max-width: 500px;
    margin:auto;
    padding:5px;
    
}
.form-input{
    text-align: center;
    width:100%;
    font-size:19px;
    border:2px solid grey;
    border-radius: 6px;
    margin-top: 30px 0;
    margin:10px;
     padding:2px 3px;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn-dark{
    color:black;
    padding:7px 18px;
    margin:7px 10px;
    border:2px solid grey;
    border-radius:8px;
    font-size:15px;
    cursor:pointer;
    background: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    
    
}

.text-footer{
    text-align:center;
    padding:30px 0;
    display: flex;
    
    color:white;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.burger{
    position: absolute;
    cursor: pointer;
    display:none;
    right: 5%;
    top:15px;

}
.line{
    width:33px;
    background-color: white;
    height:4px;
    margin:5px 3px;
}

@media only screen and (max-width:1140px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        transition: all 0.7s ease-out;
        height:447px;
    }
    .rightNav{
        text-align: center;
    }
    .box-main{
        max-width: 100%;
        flex-direction: column-reverse;
        
    }
    .section{
        flex-direction: column-reverse;
        height:72%;
    }
    .text-small{
        text-align: center;
    }
    .text-big{
        text-align: center;
    }
    .buttons{
        text-align: center;
    }
    .firstSection{
        align-items: center;
        justify-content: center;
    }
    #search{
        width:100%;
    }
    .burger{
        display: block;
    }
    .secondHalf img {

    position: relative;
    right:40px;
        
    }

    .h-nav{
        height:72px;
    }
    .v-class{
        opacity:0%;
    }
    .form-input{
    margin-left: 40px;
        
        width:70%;
    }
    .thumbnail-left img{
        margin-left: 6px;
    }
    .btn-dark{
        margin-left: 120px;
    }
    .contact{
        padding:15px;
        margin-top: 15px;
        height:80vh;
    }
    
    .paras{
        padding:0px;
    }
    .sectionSubTag text-small{
        padding:0px;
        
    }
    .text-footer{
        height:15vh;
    
    }


}


   
